<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>488560066592-lqai4cb80tna89nlkg3t2jureestec56.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.488560066592-lqai4cb80tna89nlkg3t2jureestec56</string>
	<key>API_KEY</key>
	<string>AIzaSyAMO2MuubGavy-ZXFUL1w7-bkWHzzUNlEg</string>
	<key>GCM_SENDER_ID</key>
	<string>488560066592</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mangaPadho</string>
	<key>PROJECT_ID</key>
	<string>manga-padho</string>
	<key>STORAGE_BUCKET</key>
	<string>manga-padho.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:488560066592:ios:5efa1809b7aa38ae593c45</string>
</dict>
</plist>